{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current",
          "browsers": [
            "last 1 chrome version",
            "last 1 firefox version"
          ]
        }
      }
    ]
  ],
  "plugins": [
    "transform-object-entries",
    "object-values-to-object-keys",
    "transform-flow-strip-types"
  ],
  "sourceMaps": "inline"
}
